# Excluye carpetas de MCUXpresso Workspace
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Excluye SDK para tarjeta FRDM-KL02Z
/SDK_2.3.1_FRDM-KL02Z.zip

# Excluye carpeta temporal Debug/Release
/System_CS/Debug/
/System_CS/Release/

# Excluye carpeta html de doxygen
/System_CS/doxygen/html/

# Excluye carpeta FreeRTOS_TAD_logs
/FreeRTOS_TAD_logs/